/**
* Input
*
 */

.form-group {
    @apply my-2;

    > label {
        @apply text-gray-600 block mb-1;
    }

    input, textarea, select, button {
        @apply transition-border duration-500;
    }

    input, textarea {
        @apply border border-gray-300 rounded py-2 px-4 block w-full appearance-none leading-normal text-gray-700;
    }

    select {
        @apply bg-white border border-gray-300 rounded py-2 px-4 block w-full leading-normal text-gray-700;
    }

    input:focus, textarea:focus, select:focus {
        @apply bg-white text-gray-600;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    }
}

.custom-label input:checked + svg {
    display: block !important;
}
