@each $color, $value in $theme-colors {
    .icon-container-#{$color} {
        background: var(--#{$color + '-' + 100});
        padding: $spacer * .5;
        border-radius: $border-radius-lg;
    }
}
