/**
* Buttons
*
 */

*[class*="btn"] {
    @apply transition-all duration-100;
}

*[class*="btn"]:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.btn {
    @apply font-bold rounded border border-transparent border-solid inline-block;
    font-size: 13px;
    padding: 10px 16px;
}

.btn-blue {
    @apply bg-blue-400 text-white;
}

.btn-blue:hover {
    @apply bg-blue-600;
}

.btn-red {
    @apply bg-red-500 text-white;
}

.btn-green:hover {
    @apply bg-red-700;
}

.btn-green {
    @apply bg-green-500 text-white;
}

.btn-green:hover {
    @apply bg-green-700;
}

.btn-light {
    @apply shadow border border-solid border-gray-300;
}

.btn-light:hover {
    @apply shadow bg-gray-100;
}

.btn[class*='btn-outline'][disabled] {
    @apply cursor-default border border-gray-500 text-gray-700;
}

.btn[class*='btn-outline'][disabled]:hover, .btn[class*='btn-outline'][disabled]:focus {
    @apply bg-white;
}

/**
* Outline buttons
 */
*[class*='btn-outline'] {
    @apply bg-transparent border shadow-none;
}

*[class*='btn-outline']:hover {
    @apply text-white;
}

.btn-outline-secondary {
    @apply border-gray-500 text-gray-700;
}

.btn-outline-secondary:hover {
    @apply bg-gray-500;
}

.btn-outline-blue {
    @apply border-blue-500 text-blue-500 ;
}

.btn-outline-blue:hover {
    @apply bg-blue-500;
}

.btn-outline-red {
    @apply border-red-500 text-red-500;

}

.btn-outline-red:hover {
    @apply bg-red-500;
}

.btn-outline-green {
    @apply border-green-500 text-green-500;
}

.btn-outline-green:hover {
    @apply bg-green-500;
}

.btn-initial {
    font-size: 14px;
    padding: 8px 10px;
}

.btn-sm {
    font-size: 12px;
    padding: 6px 8px;
}

.btn-xl {
    font-size: 16px;
    padding: 12px 16px;
}
.btn-2xl {
    font-size: 30px;
    padding: 15px 30px;
}
.btn-block {
    @apply block w-full text-center;
}
